<html lang="en">
<head>

    <% include ../partials/head %>
</head>
<body>
<div class="container content-container site-content">
    {% block content %}{% endblock %}
</div>

<% include ../partials/footer %>
</body>
</html>