<html lang="en">
<head>

    <% include ../partials/head %>
</head>
<body>

<div align="center">
    <h2>notBuycraft</h2>
</div>

<br>

<div class="container content-container site-content">
    <div class="row center well">
        <div class="donation-options col-md-9">
            <% include ../partials/navbar %>

            <br>
            <div class="options tab-content">
                <div class="row tab-pane fade in active">
                    <% packages.forEach(function(package){ %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                                <h6 class="category"><%= package.name %></h6>
                                <div class="icon icon-rose center-block">
                                    <img class="img-responsive img-circle img-center"
                                         style="max-width:50%;max-height:50%;" src="/img/test.png">
                                </div>
                                <h3 class="card-title">$<%= package.price %></h3>

                                <button class="btn sub-btn btn-rose btn-simple">Purchase</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="well">
                <br>
                <div align="center">
                    <p>Logged in as: <img src="https://crafatar.com/avatars/<%= uuid %>?size=16"> <b><%= mcUser %></b>
                    </p>
                    <a href="/logout">
                        <button type="button" class="btn btn-danger">Log out</button>
                    </a>
                </div>
            </div>
        </div>

        <% include ../partials/modules %>
    </div>
</div>

<% include ../partials/footer %>
</body>
</html>