<html lang="en">
<head>

    <% include ../partials/head %>
</head>
<body>

<div align="center">
    <h2>notBuycraft</h2>
</div>

<br>

<div class="container content-container site-content">
    <div class="row center well">
        <div class="col-md-12">
            <% include ../partials/navbar %>
            <hr>
            <p>TODO make this pull from pages settings in db, this is the home page. :)</p>
        </div>
    </div>
</div>

<% include ../partials/footer %>
</body>
</html>