<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="">
<% include ../partials/sidebar %>
<div class="main-content">
    <% include ../partials/navbar %>

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">

        <% include ../partials/footer %>
    </div>
</div>
<!--   Core   -->
<script src="/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/js/plugins/chart.js/dist/Chart.extension.js"></script>
<!--   Argon JS   -->
<script src="/js/argon-dashboard.min.js?v=1.1.0"></script>
</body>

</html>