<div class="tabs">
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/">Home</a></li>
        <% categories.forEach(function(category){ %>
        <li><a href="/category/<%= category._id %>"><%= category.name %></a></li>
        <% }); %>
    </ul>
</div>