<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                &copy; 2018 <a href="https://dec0de.xyz" class="font-weight-bold ml-1"
                               target="_blank">DEC0DE.xyz</a>
            </div>
        </div>
        <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="https://gitlab.dec0de.xyz/notbuycraft/website" class="nav-link"
                       target="_blank">GitLab</a>
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.dec0de.xyz/notbuycraft/website/blob/master/LICENSE"
                       class="nav-link" target="_blank">BSD 3-clause License</a>
                </li>
            </ul>
        </div>
    </div>
</footer>